body{
/*	background-color: #1f1f1f;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
/*	background-color: pink;*/
	height: 80px;

}

nav {
	width: 900px;
	display: flex;
	align-items: center;
	gap: 30px;
}

input {
  width: 250px;
  height: 25px;
  border-radius: 10px;
}

.container {
	display: flex;
	flex-direction: column;


}

.movie_info {
	width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.info_body {
	display: flex;
	gap: 45px;
}



.imdb_rating, .tomato_rating,.tomato_audience_rating, .yahoo_rating {
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
}

.rating_name{
	font-size:15px;
	font-family:Arial Black,微軟正黑體;
/*	color: #ffffff;*/
	width: 150px;
	display: flex;
	justify-content:flex-start;
}



.horizontal_line {
    background-color: #444;
    width: 800px;
    height: 1px;
}

.info_body{
	width: 620px;
	display: flex;
}

.info_detail{
	width: 420px;

}

.rating_no_result {
	font-family:Arial Black,微軟正黑體;
	font-size: 25px;
	color: #A9A9A9;
}


p.detail_word {
width:600px;
}


.detail_word{
	font-family:Arial Black,微軟正黑體;
	font-size: 20px;
	font-weight: bold;
/*	color: #ffffff;*/
}

p, h1, h2, h3 {
	font-family:Arial Black,微軟正黑體;
/*	color: #ffffff;*/

}