<!DOCTYPE HTML>

<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/pa_logo.ico')}}">
        <meta charset="utf-8">
        <title>Login failed</title>
        <link rel="stylesheet"  href="{{url_for('static', filename='css/404.css')}}">
    </head>


    <BODY>



        <header>
            <nav class="logo_container">
                <a href="/">
                    <img src="{{url_for('static', filename='img/word_logo-removebg-preview.png')}}" width="250px" display="inline" >
                </a>
            </nav>
        </header>
        <br>
        <h1> Login failed.</h1>
        <p> Incorrect password. Please try again!</p>
        <a href="/">
            <button>Back to home</button>
        </a>




    </BODY>





</html>

